{{>header}}

<h1 class="container-fluid text-center mt-5">Contact Page</h1>

<div class="p mt-2 container-fluid text-center">
  <p> This project is being updated and perfected, if you have any feedback please dont hesistate to reach out. </p>
  <h4 class="mt-5">Developer</h4>
  <p class="mt-2"> 
    <a href="mailto:ktapia576@hotmail.com?subject=Feedback">Kevin Tapia</a>
  </p>
</div>

{{>footer}}